#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 15px;
}

.site-layout-sub-header-background {
  background: #fff;
  text-align: center;
  font-size: 20px;
}

.site-layout-background {
  background: #fff;
}