.mainBox{


      box-shadow: 1px 1px 11px gray;
      margin: 69px;
      height: 79vh;
}


.ant-page-header-heading-sub-title {
     margin-left: 290px;
     margin-bottom: 10px;
}
.ant-input-search {
   width: 500px;
}




#nest-messages {
 width: 420px;
}

