
.content-list {
    position: absolute;
    left: 0;
    width: 44vw;
    .upLoad{
        width: 42vw;
        border-radius: 5px;
        color: #ffffff;
        background-color: rgb(24,144,255);
        margin: 2vh 1vw 2vh 1vw;
        padding: 1vh 1vw;
        cursor: pointer;
    
    }
    .content-item {
      border-radius: 5px;
      background: #aec6caf6;
      margin: 2vh 1vw 3vh 1vw;
      padding: 1vh 1vw;
      box-shadow: 0px 0px 5px #888888;
      .title {
        color: rgba(14, 75, 187, 0.8);
        display: block;
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 1vh 0;
      }
      .author {
        display: block;
        margin: 0.8vh 0 1.2vh 0;
      }
      .content {
        font-size: 1.1em;
        color: black;
        overflow: hidden;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:5;
        margin-bottom: 2vh;
      }
      .tool {
        margin: 1vh 0;
        .shoucang, .xiazai, .fuzhi {
          display: inline;
          color: gray;
          margin: 0 1vw 0 0;
          cursor: pointer;
        }
      }
      .border {
        width: 40vw;
        border: 0.5px solid gray;
        opacity: 0.2;
      }
      .content-tag {
        font-size: 1em;
        margin: 1vh 0;
        position: relative;
        .coll_num {
          position: absolute;
          right: 0;
          font-size: 12px;
        }
      }
    }
    .loadMore {
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
    .upLoadForm{
        display: none;
    }
    .showUpLoadForm{
        display: block;
        width: 44vw;
        padding: 20px 20px;
        border-radius: 6px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
        background-color: #ffffff;
        border: 1px solid #000000;
        textarea {
            max-height: 100px;
            margin: 10px 0;
            border: 1px solid rgb(217,217,217);
        }
        .distinguish{
            margin-top: 9vh;
            float: right;
            width: 6vw;
            height: 4vh;
            background-color: #000000;
            color: #ffffff;
            border-radius: 6px;
            text-align: center;
            border: none;
            cursor: pointer;
        }
        .uploadimgform{
          width: 20vw;
          height: 8vh;
          position: relative;
          .filebutton{
            position: absolute;
            display: inline-block;
            overflow: hidden;
            top: 0;
            left: 0;
            input{
              position: absolute;
              top: 0;
              opacity: 0;
              font-size:100px;
              cursor: pointer;
            }
            div{
              font-size: 14px;
              width: 8vw;
              height: 6vh;
              background-color: #ffffff;
              color: rgb(89,89,89);
              text-align: center;
              border: none;
              border-radius: 2px;
              border: 1px solid #000000;
              padding: 5px 10px;
              cursor: pointer;
            }
          }
          .uploadimgbutton{
            position: absolute;
            top: 0;
            left: 8vw;
            font-size: 14px;
            width: 8vw;
            height: 6vh;
            background-color: rgb(24,144,255);
            color: #ffffff;
            border-radius: 2px;
            text-align: center;
            border: none;
            cursor: pointer;
            margin-left: 3vw;
          }
        }
    }
    .upload-form-button{
        font-size: 16px;
        float: left;
        width: 10vw;
        height: 6vh;
        background-color: #000000;
        color: #ffffff;
        border-radius: 6px;
        text-align: center;
        margin-top: 1vh;
        margin-left: 7vw;
        margin-right: 2vw;
        border: none;
        cursor: pointer;
    }
  }